<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sakila</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Veijo Kasanen" />
  <link rel="stylesheet" type="text/css" href="/tyylit/tyylit.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Teko:wght@700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <!-- Navbar -->
  <div class="navbar">
    <a href="/" class="aLogo">
      <img alt="Sakira" class="logo" src="/images/1.svg" onmouseover="this.src='/images/2.svg'"
        onmouseout="this.src='/images/1.svg'">
    </a>
    <li>
      <a href="/kaikki" class="aBar">Kaikki elokuvat</a>
    </li>
    <li>
      <div class="dropdown">
        <a href="/kategoriat" class="aBar dropbtn">Kategoriat</a>
        <div class="dropdown-content">
          <a href="/toiminta">Toiminta</a>
          <a href="/animaatio">Animaatio</a>
          <a href="/lapsi">Lapsille</a>
          <a href="/klassikko">Klassikko</a>
          <a href="/komedia">Komedia</a>
          <a href="/dokumentti">Dokumentti</a>
          <a href="/draama">Draama</a>
          <a href="/perhe">Perhe</a>
          <a href="/ulkomaalainen">Ulkomaalainen</a>
          <a href="/pelit">Pelit</a>
          <a href="/kauhu">Kauhu</a>
          <a href="/musiikki">Musiikki</a>
          <a href="/uusi">Uudet</a>
          <a href="/scifi">Sci-Fi</a>
          <a href="/urheilu">Urheilu</a>
          <a href="/matkailu">Matkailu</a>
        </div>
      </div>
    </li>
  </div>

  <!-- Container -->
  <div class="container">

    <!-- Header -->
    <div class="header">
      <h1>Sakilalla kaikki elokuvat vuodelta 2006</h1>
    </div>

    <!-- Otsikko -->
    <div class="otsikko-pos">
      <span class="otsikko-title">
        <h1><%= otsikko %></h1>
      </span>
    </div>

    <!-- Elokuvat -->
    <div class="grid-container">
        <% vastaus.forEach(data =>{ %>
          <div class="grid-item">
            <p class="description">
              <%= data.description%>
            </p>
            <div class="title">
              <p>
                <%= data.title%>
              </p>
            </div>
          </div>
          <% }) %>
      </div>

    <!-- Footer -->
    <div class="footer-pos">
      <img alt="Sakira" class="footer-logo" src="/images/1.svg">
      <div class="footer-text">
        <h1>© 2022 Sakila.com</h1>
      </div>
    </div>

  </div>
</body>

</html>